.filter-name{
    justify-self: center;
    color: #f0b90b;
    font-size: 18px;
    font-weight: bold;
}



.price-f{
    color: #f6f5f3;
    width:90%;
    margin-left: 50px;


}

.price-input{
    width: 100%;
    display: flex;
  }
  .price-input .field{
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
    margin-top: 5px;
  }
  .field input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    background: none;
    color:#f6f5f3;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .slider{
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
    margin-top:15px;
  }
  .slider .progress{
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: #f0b90b;
  }
  .range-input{
    position: relative;
  }
  .range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #f0b90b;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }


  /* brand */

  .brand-f{
    color: #f6f5f3;
    /* width:100%; */
    margin-left:50px;
    margin-top:5px;
    font-size: 16px;
    line-height: 30px;
    justify-self: center;

  }


  .checkbox{
    display:none;
  }

  .fake{
    display:inline-block;
    width:15px;
    height:15px;
    border: 2px solid #f6f5f3;
    border-radius: 3px;
    position:relative;
  }

  .fake::before{
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:10px;
    height: 10px;
    display:block;
    background-color: #f0b90b;
    opacity: 0;
    transition: .2s;
  }

  .checkbox:checked + .fake::before{
    opacity: 1;
  }


  .material{
    background: none;
    /* width:100%;
    height:250px; */
    margin-left:20px;
    margin-top:5px;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    color:#f6f5f3;
    justify-self: center;
  }